
BibliotecaUTNG/node_modules
servidor/node_modules
*.pack
*.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/4.pack
*.pack
*.pack
*.pack
*.pack
*.pack
*.pack
*.pack
*.pack
*.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/10.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/12.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/10.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/12.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/3.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/5.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/9.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/8.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/7.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/6.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/0.pack
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/7804aede1332a6de33eeb47e65ece307af3e510f/1.pack
BibliotecaUTNG/.angular/cache/
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/ef29a2358dbd4262ed78f32d2318de814bfddd02/index.pack.old
BibliotecaUTNG/.angular/cache/14.2.10/angular-webpack/ef29a2358dbd4262ed78f32d2318de814bfddd02/index.pack.old
/BibliotecaUTNG/.angular/
*.json
node_modules/
BibliotecaUTNG/dist/
